.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: rgb(5, 5, 5);
  background-image:url("./download.jfif");
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  border-radius: 45px;
  padding: 2rem 2.5rem;
  background-color: orange;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-image:url("./green.png");
}

.incorrect {
  background-image:url("./redred.jfif");
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: #f8f6f6;
  font-family:  'Press Start 2P', cursive;;

}


.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #e64f13;
  width: 0%;
}
